@model IEnumerable<TrashCollectorApp.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account.PickupComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.PickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.OneDayPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account.Balance)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.PickupComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.PickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.OneDayPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.OneDayPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Balance)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
